header {
    font-family: 'JetBrains Mono';
    font-size: 5mm;
    text-align: center;
    background-image: url("./assets/Banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10%;
    background-position: center;
    background-position-y: 0%;
    color: white;
    background-position-y: center;
}
body {
    font-family: 'JetBrains Mono';
    background-color: darkred;
}